<div id='header'>
  <h1>Account Management</h1>
</div>

<div id='artists'>
  <div class="row row-cols-xl-3" style="text-align: center">
    <% @artists.each do |artist| %>
    <div id='artist-<%= artist.id %>'>
      <p style="padding-top: 20px"><%= artist.username %></p>
      <div class="btn-group" style="padding-bottom: 20px">
        <label class='button'>
          <%= button_to 'Edit', edit_user_artist_path(current_user.id, artist.id), method: :get, class: 'btn btn-outline-dark' %>
        </label>
        <label class='button'>
          <%= button_to 'Delete', "/user/#{current_user.id}/artists/#{artist.id}", method: :delete, class: 'btn btn-outline-dark' %>
        </label>
      </div>
    </div>
    <% end %>
  </div>
</div>
