body {
 background-color: rgb(230, 255, 204);
}

a, nav, h3, h4 {
  font-family: Papyrus;
}

p {
  font-family: Papyrus;
  font-size: 150%
}

h4 {
  padding: 25px
}

h1 {
  text-align: center;
  padding-bottom: 15px;
  padding-top:30px;
  font-size: 250%;
  font-family: Papyrus
}

.button {
  font-family: Papyrus;
  border-radius: 4px;
}

.link {
  font-size: 125%
}
