<div id="header">
  <h1 class="text-center">Public Gallery</h1>
</div>

<% if @public_images.nil? == false %>
  <div id="images">
    <div class="row">
      <% @public_images.each do |image| %>
      <div class="col-lg-4 mb-2 mb-md-0">
        <img
          src="<%= image.url %>"
          class="w-75 h-75 shadow-1-strong rounded mx-4"
          style="text-align: center"
          alt="<%= image.title %>"
        />
      </div>
      <% end %>
    </div>
  </div>
<% end %>
